In [41]:
import pandas as pd
df_india=pd.read_csv('df_india.csv')
df_statewise=pd.read_csv('df_statewise.csv')
#df_india_daily=pd.read_csv('df_india_daily.csv')
#df_daily_statewise=pd.read_csv('df_daily_statewise.csv')
#df_india_daily=df_india_daily[df_india_daily['active']>=0]
#import matplotlib.pyplot as plt

In [5]:
date_list=['2020-03-24', '2020-04-14', '2020-05-01', '2020-05-17','2020-05-30',]
df2=df[df['date'].isin(date_list)]

,loc,total,deaths,discharged,date,active,perdeath,perdis,peractive
230,Andhra Pradesh,8,0,0,2020-03-24,8,0.00,0.00,100.00
231,Bihar,3,1,0,2020-03-24,2,33.33,0.00,66.67
232,Chhattisgarh,1,0,0,2020-03-24,1,0.00,0.00,100.00
233,Delhi,30,2,6,2020-03-24,22,6.67,20.00,73.33
234,Gujarat,33,1,0,2020-03-24,32,3.03,0.00,96.97
...,...,...,...,...,...,...,...,...,...
2372,Telengana,2425,71,1381,2020-05-30,973,2.93,56.95,40.12
2373,Tripura,251,0,171,2020-05-30,80,0.00,68.13,31.87
2374,Uttarakhand,716,5,102,2020-05-30,609,0.70,14.25,85.06
2375,Uttar Pradesh,7284,198,4244,2020-05-30,2842,2.72,58.26,39.02
2376,West Bengal,4813,302,1775,2020-05-30,2736,6.27,36.88,56.85

In [12]:
df=df_india
date_list=['2020-03-24', '2020-04-14', '2020-05-01', '2020-05-17','2020-05-30',df[-1:].date.values[0]]
df2=df[df['date'].isin(date_list)]
for i in range(0,4):
    x=date_list[i]
    df2.loc[df2['date']==x,'lockdown']='Lockdown {}'.format(i)
df2.loc[df2['date']=='2020-05-30','lockdown']='Unlock {}'.format(1)
df2.loc[df2['date']==df[-1:].date.values[0],'lockdown']='Present'

In [4]:
df_statewise['days']=df_statewise['date'].apply(lambda x: (pd.to_datetime(x)-pd.to_datetime('2020-03-10')).days)
df_statewise[-35:]

,loc,total,deaths,discharged,date,active,perdeath,perdis,peractive,days
2763,Andhra Pradesh,5269,78,2899,2020-06-11,2292,1.48,55.02,43.50,93
2764,Arunachal Pradesh,57,0,2,2020-06-11,55,0.00,3.51,96.49,93
2765,Assam,3092,4,1249,2020-06-11,1839,0.13,40.39,59.48,93
2766,Bihar,5710,33,3071,2020-06-11,2606,0.58,53.78,45.64,93
2767,Chandigarh,327,5,286,2020-06-11,36,1.53,87.46,11.01,93
2768,Chhattisgarh,1262,6,402,2020-06-11,854,0.48,31.85,67.67,93
2769,Dadar Nagar Haveli,26,0,2,2020-06-11,24,0.00,7.69,92.31,93
2770,Daman & Diu,2,0,0,2020-06-11,2,0.00,0.00,100.00,93
2771,Delhi,32810,984,12245,2020-06-11,19581,3.00,37.32,59.68,93
2772,Goa,387,0,67,2020-06-11,320,0.00,17.31,82.69,93
2773,Gujarat,21521,1347,14735,2020-06-11,5439,6.26,68.47,25.27,93
2774,Haryana,5579,52,2188,2020-06-11,3339,0.93,39.22,59.85,93
2775,Himachal Pradesh,451,6,254,2020-06-11,191,1.33,56.32,42.35,93
2776,Jammu and Kashmir,4507,51,1671,2020-06-11,2785,1.13,37.08,61.79,93
2777,Jharkhand,1489,8,592,2020-06-11,889,0.54,39.76,59.70,93
2778,Karnataka,6041,69,2862,2020-06-11,3110,1.14,47.38,51.48,93
2779,Kerala,2161,18,905,2020-06-11,1238,0.83,41.88,57.29,93
2780,Ladakh,115,1,52,2020-06-11,62,0.87,45.22,53.91,93
2781,Madhya Pradesh,10049,427,6892,2020-06-11,2730,4.25,68.58,27.17,93
2782,Maharashtra,94041,3438,44517,2020-06-11,46086,3.66,47.34,49.01,93
2783,Manipur,311,0,63,2020-06-11,248,0.00,20.26,79.74,93
2784,Meghalaya,44,1,13,2020-06-11,30,2.27,29.55,68.18,93
2785,Mizoram,93,0,1,2020-06-11,92,0.00,1.08,98.92,93
2786,Nagaland,128,0,22,2020-06-11,106,0.00,17.19,82.81,93
2787,Odisha,3250,9,2282,2020-06-11,959,0.28,70.22,29.51,93
2788,Puducherry,127,0,53,2020-06-11,74,0.00,41.73,58.27,93
2789,Punjab,2805,55,2232,2020-06-11,518,1.96,79.57,18.47,93
2790,Rajasthan,11600,259,8569,2020-06-11,2772,2.23,73.87,23.90,93
2791,Sikkim,13,0,0,2020-06-11,13,0.00,0.00,100.00,93
2792,Tamil Nadu,36841,326,19333,2020-06-11,17182,0.88,52.48,46.64,93
2793,Telengana,4111,156,1817,2020-06-11,2138,3.79,44.20,52.01,93
2794,Tripura,895,1,239,2020-06-11,655,0.11,26.70,73.18,93
2795,Uttarakhand,1562,15,831,2020-06-11,716,0.96,53.20,45.84,93
2796,Uttar Pradesh,11610,321,6871,2020-06-11,4418,2.76,59.18,38.05,93
2797,West Bengal,9328,432,3779,2020-06-11,5117,4.63,40.51,54.86,93

In [32]:
df_coords_state=pd.read_csv('state wise centroids_2011.csv')
df_statewise=pd.read_csv('df_statewise.csv')
df_statewise=df_statewise[-35:]
df_statewise=df_statewise[['loc','total','active','deaths','discharged']]
df_statewise.reset_index(inplace=True, drop=True)
for state in df_statewise['loc'].unique():
    df_statewise.loc[df_statewise['loc']==state,'Latitude']=df_coords_state[df_coords_state['State']==state]['Latitude'].values[0]
    df_statewise.loc[df_statewise['loc']==state,'Longitude']=df_coords_state[df_coords_state['State']==state]['Longitude'].values[0]
df=df_statewise

IndexError: index 0 is out of bounds for axis 0 with size 0

In [34]:
for state in df_statewise['loc'].unique():
    print(state)
    print(df_coords_state[df_coords_state['State']==state]['Longitude'].values)

Andhra Pradesh
[79.91620298]
Arunachal Pradesh
[94.54532681]
Assam
[92.65731036]
Bihar
[85.63677401]
Chandigarh
[76.75872466]
Chhattisgarh
[82.12509334]
Dadar Nagar Haveli
[73.09454961]
Daman & Diu
[]
Delhi
[77.12804518]
Goa
[73.86601626]
Gujarat
[72.19574739]
Haryana
[76.52123743]
Himachal Pradesh
[76.85561814]
Jammu and Kashmir
[75.00063062]
Jharkhand
[85.85996246]
Karnataka
[76.29962468]
Kerala
[76.21770621]
Ladakh
[77.577049]
Madhya Pradesh
[78.08249213]
Maharashtra
[75.27055447]
Manipur
[93.8644935]
Meghalaya
[91.2375107]
Mizoram
[92.81661901]
Nagaland
[94.3257526]
Odisha
[84.98396584]
Puducherry
[79.75997363]
Punjab
[75.45295226]
Rajasthan
[75.22539475]
Sikkim
[88.51230522]
Tamil Nadu
[78.76274652]
Telengana
[78.4867]
Tripura
[91.65871314]
Uttarakhand
[78.84563219]
Uttar Pradesh
[80.65919244]
West Bengal
[88.14959609]

In [39]:
#import numpy as np
(np.sort(df_statewise['loc'].values))

array(['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar',
       'Chandigarh', 'Chhattisgarh', 'Dadar Nagar Haveli', 'Daman & Diu',
       'Delhi', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh',
       'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telengana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [37]:
(np.sort(df_coords_state['State'].values))

array(['Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Dadar Nagar Haveli', 'Delhi', 'Goa', 'Gujarat',
       'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand',
       'Karnataka', 'Kerala', 'Ladakh', 'Madhya Pradesh', 'Maharashtra',
       'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha',
       'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu',
       'Telengana', 'Tripura', 'Uttar Pradesh', 'Uttarakhand',
       'West Bengal'], dtype=object)

In [42]:
df_statewise[df_statewise['loc']=='Daman & Diu']

,loc,total,deaths,discharged,date,active,perdeath,perdis,peractive
2770,Daman & Diu,2,0,0,2020-06-11,2,0.0,0.0,100.0

In [6]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [49]:
np.delete(df_statewise['loc'].unique(),np.where(df_statewise['loc'].unique()=='Andaman and Nicobar Islands'))

array(['Delhi', 'Haryana', 'Karnataka', 'Kerala', 'Maharashtra', 'Punjab',
       'Rajasthan', 'Tamil Nadu', 'Telengana', 'Jammu and Kashmir',
       'Ladakh', 'Uttar Pradesh', 'Andhra Pradesh', 'Uttarakhand',
       'Odisha', 'Puducherry', 'West Bengal', 'Chhattisgarh',
       'Chandigarh', 'Gujarat', 'Himachal Pradesh', 'Madhya Pradesh',
       'Bihar', 'Manipur', 'Mizoram', 'Goa', 'Assam', 'Jharkhand',
       'Arunachal Pradesh', 'Tripura', 'Nagaland', 'Meghalaya',
       'Dadar Nagar Haveli', 'Sikkim', 'Daman & Diu'], dtype=object)

In [3]:
import pandas as pd
df_timestamp=pd.read_csv('df_timestamp.csv')
timestamp=pd.to_datetime(df_timestamp.loc[0].values[0])
from datetime import datetime
print(((datetime.today()-timestamp).seconds/3600 + (datetime.today()-timestamp).days*24))

24.148888888888887

In [25]:
df_india_daily.window_size_7

0        0.000000
1        0.000000
3        0.000000
4        0.000000
5        0.000000
         ...
81    3423.285714
82    3332.428571
83    3434.714286
84    3477.142857
85    3899.714286
Name: window_size_7, Length: 84, dtype: float64

In [2]:
import pandas as pd
df_timestamp=pd.read_csv('df_timestamp.csv')
timestamp=pd.to_datetime(df_timestamp.loc[0].values[0])
from datetime import datetime
from datetime import timedelta
print(((datetime.today()+ timedelta(seconds=19800))-timestamp).seconds/3600 + ((datetime.today()+ timedelta(seconds=19800))-timestamp).days*24)
print(timestamp)

0.9263888888888889
2020-06-11 19:52:07.368968

Timedelta('0 days 00:57:08.599421')